<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto:300,500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Raquel Moss" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="header">
      <header>
        <h1><a href="/">Raquel Moss</a></h1>
      </header>
      <nav>
        <ul>
          <% active = current_page.page_id %>
          <li class=<%= active == "about" ? "active" : ""%>><%= link_to "About", "/about" %></li>
          <li class=<%= active == "index" ? "active" : ""%>><%= link_to "Blog", "/" %></li>
        </ul>
      </nav>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
