---
pageable: true
per_page: 50
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

<% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>
<div class="article-list">
  <% page_articles.each_with_index do |article, i| %>
    <div class="article-preview">
      <section "overlay">
        <h2><%= link_to article.title, article %></h2>
        <div class="article-summary"><%= article.summary %></div>
        <p class="article-metadata">
          <span class="article-date"><%= article.date.strftime('%e %B %Y') %></span>
          <span class="read-more"><%= link_to "Read article", article %></span>
        </p>
      </section>
      <div class="underlay"></div>
    </div>
  <% end %>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
